In [1]:
import pandas as pd
# import zipfile
# with zipfile.ZipFile('I:\\Download\\Датасеты.zip', 'r') as zip_ref:
#     zip_ref.extractall('I:\\Download')

In [12]:
diction = pd.read_excel('I:\\Download\\Датасеты\\dict.xlsx')
diction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899 entries, 0 to 898
Data columns (total 10 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Разметка: Для ума/ Для души / Для тела  899 non-null    object
 1   id_level1                               899 non-null    int64
 2   level1                                  899 non-null    object
 3   id_level2                               899 non-null    int64
 4   level2                                  899 non-null    object
 5   id_level3                               899 non-null    int64
 6   leve3                                   899 non-null    object
 7   d_level1                                899 non-null    object
 8   d_level2                                0 non-null      float64
 9   d_level3                                0 non-null      float64
dtypes: float64(2), int64(3), object(5)
memory usage: 70.4+ KB

In [13]:
diction.head()

,Разметка: Для ума/ Для души / Для тела,id_level1,level1,id_level2,level2,id_level3,leve3,d_level1,d_level2,d_level3
0,Для ума,649,Игры,651,Интеллектуальные игры,1042,Иные интеллектуальные игры,"Занятия по изучению правил игр, основанных на ...",NaN,NaN
1,Для ума,649,Игры,651,Интеллектуальные игры,1040,Викторины,"Занятия по изучению правил игры, которая заклю...",NaN,NaN
2,Для ума,649,Игры,651,Интеллектуальные игры,1041,Квест,Занятия по изучению способов решений головолом...,NaN,NaN
3,Для ума,649,Игры,651,Интеллектуальные игры,1043,Брейн-ринг,"Занятия по изучению правил игры, в которой поб...",NaN,NaN
4,Для ума,649,Игры,650,Настольные игры,323,Современные настольные игры,"Занятия по изучению правил современных игр, ра...",NaN,NaN

In [14]:
diction.level2.unique()

array(['Интеллектуальные игры', 'Настольные игры',
       'ОНЛАЙН Интеллектуальные игры', 'ОНЛАЙН Настольные игры',
       'ОНЛАЙН Шахматы и шашки', 'Шахматы и шашки', 'Английский язык',
       'Здорово жить', 'Иностранные языки', 'Информационные технологии',
       'История, искусство, краеведение', 'Киберспорт',
       'ОНЛАЙН Английский язык', 'ОНЛАЙН Здорово жить',
       'ОНЛАЙН Иностранные языки', 'ОНЛАЙН Информационные технологии',
       'ОНЛАЙН История, искусство, краеведение', 'ОНЛАЙН Киберспорт',
       'ОНЛАЙН Образовательный практикум', 'ОНЛАЙН Пеший лекторий',
       'ОНЛАЙН Психология и коммуникации',
       'ОНЛАЙН Финансовая и правовая грамотность, личная безопасность',
       'ОНЛАЙН Экология жизни', 'Образовательный практикум',
       'Пеший лекторий', 'Психология и коммуникации',
       'Финансовая и правовая грамотность, личная безопасность',
       'Экология жизни', 'ОНЛАЙН Пение', 'Пение', 'ОНЛАЙН Рисование',
       'Рисование', 'Интеллектуальный клуб. Домоводство',
       'Интеллектуальный клуб. Здоровье/красота/стиль',
       'Интеллектуальный клуб. Иностранные языки',
       'Интеллектуальный клуб. Информационные технологии',
       'Интеллектуальный клуб. История/Искусство',
       'Интеллектуальный клуб. Клубная работа',
       'Интеллектуальный клуб. Образовательный практикум',
       'Интеллектуальный клуб. Проф/подготовка',
       'Интеллектуальный клуб. Психологические тренинги',
       'Интеллектуальный клуб. Творческие мастерские',
       'ОНЛАЙН Интеллектуальный клуб. Домоводство',
       'ОНЛАЙН Интеллектуальный клуб. Здоровье/красота/стиль',
       'ОНЛАЙН Интеллектуальный клуб. Иностранные языки',
       'ОНЛАЙН Интеллектуальный клуб. Информационные технологии',
       'ОНЛАЙН Интеллектуальный клуб. История/Искусство',
       'ОНЛАЙН Интеллектуальный клуб. Клубная работа',
       'ОНЛАЙН Интеллектуальный клуб. Образовательный практикум',
       'ОНЛАЙН Интеллектуальный клуб. Проф/подготовка',
       'ОНЛАЙН Интеллектуальный клуб. Психологические тренинги',
       'ОНЛАЙН Интеллектуальный клуб. Творческие мастерские',
       'Московский театрал', 'ОНЛАЙН Московский театрал',
       'ОНЛАЙН Серебряный университет', 'Серебряный университет',
       'Тренировки долголетия (спецпроект по медицинской реабилитации)',
       'ОНЛАЙН Танцы', 'Танцы', 'Домоводство', 'Красота и стиль',
       'Литература', 'Музыка, фольклор', 'ОНЛАЙН Домоводство',
       'ОНЛАЙН Красота и стиль', 'ОНЛАЙН Литература',
       'ОНЛАЙН Музыка, фольклор', 'ОНЛАЙН Фото/видео',
       'ОНЛАЙН Художественно-прикладное творчество', 'Фото/видео',
       'Художественно-прикладное творчество', 'Борьба', 'Велоспорт',
       'ГТО', 'Гимнастика', 'Коньки', 'Лыжи', 'ОНЛАЙН Гимнастика',
       'ОНЛАЙН ОФП', 'ОФП', 'Скандинавская ходьба', 'Спортивные игры',
       'Фитнес, тренажеры'], dtype=object)

In [15]:
test = pd.read_csv('I:\\Download\\Датасеты\\test.csv')
test.head()

   уникальный номер участника  уникальный номер группы
0                   101346610                      NaN
1                   101346612                      NaN
2                   101347269                      NaN
3                   101347321                      NaN
4                   101347983                      NaN

In [16]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   уникальный номер участника  200 non-null    int64
 1   уникальный номер группы     0 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 3.2 KB