In [1]:
import pandas as pd
import zipfile
with zipfile.ZipFile('I:\\Download\\Датасеты.zip', 'r') as zip_ref:
    zip_ref.extractall('I:\\Download')

In [6]:
users = pd.read_csv('I:\\Download\\Датасеты\\users.csv')
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52334 entries, 0 to 52333
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   уникальный номер            52334 non-null  int64
 1   дата создание личного дела  52334 non-null  object
 2   пол                         52334 non-null  object
 3   дата рождения               52334 non-null  object
 4   адрес проживания            52334 non-null  object
dtypes: int64(1), object(4)
memory usage: 2.0+ MB

In [7]:
users.head()

,уникальный номер,дата создание личного дела,пол,дата рождения,адрес проживания
0,101391104,2019-02-26 15:52:09.000,Женщина,1959-09-10,"город москва, константинова, дом 30"
1,101437383,2022-09-14 13:46:41.079,Женщина,1958-06-29,"г. москва, большая серпуховская улица, дом 40,..."
2,101351338,2018-03-19 18:34:58.000,Женщина,1956-08-28,"город москва, летчика грицевца, дом 10"
3,101354578,2018-03-22 13:19:42.000,Женщина,1939-05-19,"город москва, лобачевского, дом 76"
4,101411997,2019-12-17 12:29:25.481,Женщина,1951-03-02,"г. москва, улица вертолётчиков, дом 13"

In [8]:
users.isnull().sum()

уникальный номер              0
дата создание личного дела    0
пол                           0
дата рождения                 0
адрес проживания              0
dtype: int64

In [16]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   уникальный номер участника  200 non-null    int64
 1   уникальный номер группы     0 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 3.2 KB